@media (max-width: 768px) {
    .main {
        padding: 0 16px;
    }

    .item {
        width: 310px;
        height: 530px;
    }

    .header>.title {
        font-size: 36px;
        padding: 0 30px;
    }

    .header>.support-text {
        font-size: 18px;
        padding: 0 32px;
    }

    .input-holder {
        width: 100%;
        max-width: 310px;
        margin: 40px auto 0;
    }

    .search {
        font-size: 16px;
    }

    .item>.img {
        height: 37%;
    }

    .avatar-label {
        margin-top: 32px;
    }

    .reaction>.reply {
        margin-left: 15px;
    }

}

@media (max-width:425px) {
    .comment-section {
        padding: 24px 35px 0;
    }
}